# Empêcher io_config.yaml d'être suivi par Git
io_config.yaml
.env
# Ignorer les fichiers de cache
/cache-directory/
**/__pycache__/
# Ignorer les fichiers CSV dans /assets/
assets/*.csv
merged_df.csv

