# Empêcher io_config.yaml d'être suivi par Git
io_config.yaml
.env
# Ignorer les fichiers de cache
dash_app/cache-directory/
**/__pycache__/
dash_app/assets/financements.csv
dash_app/assets/financements.csv
dash_app/assets/societes.csv
dash_app/assets/financements.csv
merged_df.csv

